@using TravelGuide.Models
@model IEnumerable<TravelGuide.Models.Offer>

@{
    ViewData["Title"] = "BookOffers";
}
<style>
    body {
        background-image: url('../images/london.jpg');
        background-size: cover;
        background-position: center;
    }
</style>
<h1 style="font-size: 40px; font-family: Georgia, Times New Roman , Times, serif; font-weight: 700;">Offers</h1>
<br />
<h5 style="margin-right:200px; font-family: Georgia, Times New Roman , Times, serif;">We offer you the following packages. A package includes accommodation at one of our partner hotels and a guided tour.</h5>
<table class="table table-striped table-hover table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityTour)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HotelID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityTourID)
                </td>
                <td>

                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.OfferID">More Details</a>

            
                </td>
            </tr>
        }
    </tbody>
</table>
